{% extends 'base.html.twig' %}

{% block title %}Thread{% endblock %}

{% block body %}
    <h1>{{ thread.title }}</h1>
    <p>{{ thread.createdDate ? thread.createdDate|date('Y-m-d H:i:s') : '' }}</p>
    <p>Creado por: {{ thread.author.username }}</p>
    <hr>
    <a href="{{ path('app_forum_show', {'id': thread.forum.id}) }}">Volver a {{ thread.forum.name  }}</a>
    <br>
    {% for comment in thread.comments %}
    <div>
    {{ comment.author.username }} dijo {{ comment.createdDate|date('Y-m-d H:i:s')}}:<br>
    {{ comment.text }}
    </div>
    {% endfor %}
    {{ include('comment/_form.html.twig') }}

    {% if is_granted("ROLE_ADMIN") %}
    <a href="{{ path('app_thread_edit', {'id': thread.id}) }}">edit</a>

    {{ include('thread/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
